@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}


.range {
  -webkit-appearance: none;
  appearance: none; 
  cursor: pointer;
  outline: none;
  overflow: hidden;

}

.range::-webkit-slider-runnable-track {
  height: 15px;
  background: #ece7e7;

}

.range::-moz-range-track {
  height: 15px;
  background: #ece7e7;
  border-radius: 16px;
}

.range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none; 
  height: 15px;
  width: 15px;
  background-color: #d326a8;
  border-radius: 20%;
  border: 2px solid #d326a8;
  box-shadow: -407px 0 0 400px rgb(238, 124, 223);
}

.range::-moz-range-thumb {
  height: 15px;
  width: 15px;
  background-color: #d326a8;
  border-radius: 20%;
  border: 1px solid #d326a8;
  box-shadow: -407px 0 0 400px rgb(238, 124, 223);
}

.range::-webkit-slider-thumb:hover {
  transition: all .2;
  background-color: #c659d4;
  border: 1px solid #c659d4;
}

.range::-moz-range-thumb:hover {
  transition: all .2;
  background-color: #c659d4;
  border: 1px solid #c659d4;
}
